<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>
{% block title %} HastaTakip {% endblock %}
</title>

{% load staticfiles %}
<link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/png" />

<!-- CSS -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}">
{% endblock %}

</head>

<body>

<!-- Container -->
{% include 'header.html' %}

<!-- Content -->
<div id="content">
{% block content %}
{{ content }}
{% endblock %}
</div>
<!-- END Content -->

<!-- JS -->
{% block js %}
<script src="{% static "jquery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
<script src="{% static "popper.js/dist/umd/popper.min.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "bootstrap-datepicker/dist/locales/bootstrap-datepicker.tr.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
{% endblock %}

</body>

</html>
