
<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %} HastaTakip {% endblock %}</title>

    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/png" />

    <!-- CSS -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}">
    {% endblock %}

    <!-- JS -->
    {% block js %}
    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "node_modules/popper.js/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.tr.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    {% endblock %}

  </head>
  <body>

    {% include 'header.html' %}

    <div id="content">
      {% block content %}
      {{ content }}
      {% endblock %}
    </div>

  </body>
</html>
