import os

DEBUG = True

ALLOWED_HOSTS = []

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'hastatakip',
        'USER': 'hastatakip',
        'PASSWORD': 'hastatakip',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}
