<div class="container-fluid">
  <div class="row">
    <h1><a href="{% url 'hasta:detail' muayene.hasta.slug %}">{{ muayene.hasta }}    </a><small>{{ muayene.tarih }}</small></h1>
  </div>

  <div class="row">
    <div class="btn-group" role="group">
      <a role="button" class="btn btn-primary" href="{% url 'muayene:update' muayene.id %}">Düzenle</a>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" id="yeniDropdown" data-toggle="dropdown" ariahaspopup="true" aria-expanded="false">Yeni</button>
        <div class="dropdown-menu" aria-labelledby="yeniDropdown">
          <a class="dropdown-item" href="{% url 'muayene:ttf-print' muayene.id %}" target="_blank">TTF</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ahsevk">AH Sevk</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#receteForm">Reçete yaz</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#raporForm">Rapor yaz</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#istekForm">Laboratuvar İstek</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#fileForm">Dosya yükle</a>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" id="hesapDropdown" data-toggle="dropdown" ariahaspopup="true" aria-expanded="false">Hesaplamalar</button>
        <div class="dropdown-menu" aria-labelledby="hesapDropdown">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#homa">HOMA</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#hba1c">HbA1c</a>
        </div>
      </div>

      {% if muayene.hasta.sozlesme_set.latest.is_active %}
      <a class="btn btn-success disabled" href="#" data-toggle="modal" data-target="#sozlesme">Sözleşme aktif</a>
      {% else %}
      <a class="btn btn-danger disabled">Sözleşme aktif değil</a>
      {% endif %}
    </div>
  </div>
</div>
