<div class="modal fade" id="homa" tabindex="-1" role="dialog" arialabelledby="homaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="homaLabel"> Homa </h4>
      </div>
      <div class="modal-body">
        <label for="glikoz"> Glikoz: </label>
        <input id="glikoz" type="number" class="form-control" name="glikoz">
        <label for="insulin"> İnsülin: </label>
        <input id="insulin" type="number" class="form-control" name="insulin">
        <br>
        <button role="button" class="btn btn-primary" id="homahesapla">Hesapla</button>
        <div id="homasonuc"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="hba1c" tabindex="-1" role="dialog" arialabelledby="hba1cLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="hba1cLabel"> HbA1c </h4>
      </div>
      <div class="modal-body">
        <label for="glikozhba1c"> Glikoz: </label>
        <input id="glikozhba1c" type="number" class="form-control" name="glikozhba1c">
        <br>
        <button role="button" class="btn btn-primary" id="hba1chesapla">Hesapla</button>
        <div id="hba1csonuc"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button>
      </div>
    </div>
  </div>
</div>
