{% extends "base.html" %}

{% block content %}

<div class="col-md-6">
    {% if form.errors %}
    {% for key, value in form.errors.items %}
    <div class="alert alert-danger" role="alert">
        <p> <strong> {{ key }} </strong> {{ value }} </p>
    </div>
    {% endfor %}
    {% endif %}

    <form method="post" class="form-group">
        {% csrf_token %}
        <label for="{{form.ad.id_for_label}}"> Ad: </label>
        {{form.ad}}
        <label for="{{form.kullanim.id_for_label}}"> Kullanım: </label>
        {{form.kullanim}}
        <label for="{{form.bilgi.id_for_label}}"> Bilgi: </label>
        {{form.bilgi}}
        <br />
        <br />
        <input type="submit" class="btn btn-primary" value="KAYDET" style="float:right">
    </form>
</div>

{% endblock %}

