{% extends "base.html" %}
{% load staticfiles %}

{% block js %}
{{ block.super }}
<script src="{% static "js/laboratuvar_sonuc.js" %}"></script>
{% endblock %}

{% block content %}

<div class="container mt-4">
  <h2> {{ laboratuvaristek.tarih }} - {{ laboratuvaristek.hasta }}</h2>
  <br>
  <div id="request-status"></div>
  {% if forms %}
  <div id="sonuc-forms">
    {% for form in forms %}
    <form>
      <div class="form-inline">
        {{ form.laboratuvar }} <label class="ml-5" for="{{ form.sonuc.id_for_label }}">Sonuç: </label> {{ form.sonuc }}
      </div>
    </form>
    {% endfor %}
    <button id="submit-button" class="btn btn-primary float-right">Kaydet</button>
  </div>
  {% endif %}
  <input type="hidden" id="muayene-id" value="{{ laboratuvaristek.muayene.id }}">
  <input type="hidden" id="istek-id" value="{{ laboratuvaristek.id }}">
</div>

{% endblock %}
