{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Muayene Arşiv</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{% url 'muayene:archive-week' cyear cweek %}">Bu hafta</a></li>
        <li role="presentation"><a href="{% url 'muayene:archive-month' cyear cmonth %}">Bu ay</a></li> 
        <li role="presentation"><a href="{% url 'muayene:archive-year' cyear %}">Bu yıl</a></li>
        <li role="presentation"><a href="{% url 'muayene:archive-custom' %}">Özel aralık</a></li>
    </ul>
</div>

<div class="row" style="padding:20px">

    <h3> Hafta {{ week | date:'W' }} <small>Muayene sayısı: {{object_list | length}} | <a href="#" id="TTF">Çoklu TTF</a> | <a href="#" id="muayene-list-pdf">Liste</a></small> </h3>

    <form method="POST" action="{% url 'muayene:multi-ttf-print' %}" id="TTFform" target="_blank">
        {% csrf_token %}
        <input type="hidden" value="{{week|date:'Y-m-j'}}" name="start">
        <input type="hidden" value="{{next_week|date:'Y-m-j'}}" name="end">
    </form>

    <form method="POST" action="{% url 'muayene:list-print' %}" id="MuayeneListForm" target="_blank">
        {% csrf_token %}
        <input type="hidden" value="{{week|date:'Y-m-j'}}" name="start">
        <input type="hidden" value="{{next_week|date:'Y-m-j'}}" name="end">
    </form>

    <p>
        {% if previous_week %}
            <a href="/muayene/arsiv/{{previous_week|date:"Y"}}/hafta/{{previous_week|date:"W"}}"><span class="glyphicon glyphicon-arrow-left"></span> Bir Önceki Hafta</a>
        {% endif %}
        {% if next_week %}
            <a style="float:right" href="/muayene/arsiv/{{next_week|date:"Y"}}/hafta/{{next_week|date:"W"}}">Bir Sonraki Hafta <span class="glyphicon glyphicon-arrow-right"></span></a>
        {% endif %}
    </p>


    <table class="table table-hover table-condensed">
    <tr>
        <th>#</th>
        <th>TARİH</th>
        <th>HASTA</th>
        <th>YAKINMA</th>
        <th>TANI</th>
    </tr>    
    {% for muayene in object_list %}
    <tr>
        <td>{{muayene.id}}</td>
        <td>{{muayene.tarih}}</td>
        <td><a href="{% url 'muayene:detail' muayene.id %}">{{ muayene.hasta }}</a></td>
        <td>{{muayene.yakinma}}</td>
        <td>{{muayene.ontani_tani}}</td>
        <td><a href="{% url 'muayene:detail' muayene.id %}">Detay</a></td>
    </tr>
    {% endfor %}
    </table>

</div>

{% endblock %}
