{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  {% include 'muayene/detail/header.html' %}

  <!-- Hasta Details -->
  <div class="row" style="padding:20px">
    {% include 'muayene/detail/hasta.html' %}
  </div>

  <hr>

  {% include 'muayene/detail/modals.html' %}

  <!-- Muayene Details -->
  <div class="row" style="padding:20px">
    <div class="col-md-3">
      <p> <b>Yakınma:</b> {{ muayene.yakinma }} </p>
      <p> <b>Muayene:</b> {{ muayene.baki }} </p>
      <p> <b>Öntanı/tanı:</b> {{ muayene.ontani_tani }} </p>
    </div>

    <div class="col-md-4">
      <p> <b>Kullandığı ilaçlar:</b> </p>
      <p> {{muayene.kullandigi_ilaclar}} </p>
    </div>

    <div class="col-md-5">
      <p> <b>Öneri/Görüşler:</b> {{ muayene.oneri_gorusler }} </p>
      <p> <b>Özel notlar:</b> {{ muayene.ozel_notlar }} </p>
    </div>
  </div>

  <hr>

  <div class="row" style="padding:20px">
    {% include 'muayene/detail/recete.html' %}
    {% include 'muayene/detail/rapor.html' %}
    {% include 'muayene/detail/laboratuvar.html' %}
    {% include 'muayene/detail/upload.html' %}
  </div>

</div>

{% endblock %}
