{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <h1>{{ week_number }}. hafta - Randevu Listesi</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {% if previous_week %}
            <a href="{% url 'randevu:week-archive' previous_week.0 previous_week.1 %}">Önceki hafta</a>
            {% endif %}
        </div>
        <div class="col-lg-6">
            {% if next_week %}
            <a class="pull-right" href="{% url 'randevu:week-archive' next_week.0 next_week.1 %}">Sonraki hafta</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% for date, randevu_list in randevu_list_by_date %}
        <div class="col-lg-2">
            <h3> {{ date }} </h3>
            <hr>
            <ol>
            {% for randevu in randevu_list %}
            <li><a href="{% url 'randevu:detail' randevu.pk %}">{{ randevu.time }} - {{ randevu.hasta }} ({{ randevu.person_number }} kişi)</a></li>
            {% endfor %}
            </ol>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
