0 6-15 * * 1-5 /home/hastatakip/hastatakip/bin/db_backup.sh >> /home/hastatakip/logs/db_backup.log 2>&1
0 6-15 * * 6   /home/hastatakip/hastatakip/bin/db_backup.sh >> /home/hastatakip/logs/db_backup.log 2>&1
0 23   * * *   /home/hastatakip/hastatakip/bin/backup.sh >> /home/hastatakip/logs/backup.log 2>&1
30 2 * * 1 /usr/bin/certbot renew >> /home/hastatakip/logs/le-renew.log 2>&1
35 2 * * 1 /usr/bin/systemctl reload nginx
