{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-4">
  <h1>{{ hasta.ad }} {{ hasta.soyad }} <small>{{hasta.id}}/{{hasta.kayit_tarihi.year}}</small> </h1>
  <a class="btn btn-warning" href="{% url 'hasta:update' hasta.slug %}">Düzenle</a>
  <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#epikriz">EPİKRİZ</a>
  <a class="btn btn-success" href="{% url 'hasta:muayene-create' hasta.slug %}">YENİ MUAYENE</a>

  {% include "hasta/hasta_detail_epikriz.html" %}

  <div class="row" style="padding:20px">

    <div class="col-md-2">
      <h4> Kişisel Bilgiler </h4>
      <hr>
      <p><b>Kayıt tarihi:</b> {{ hasta.kayit_tarihi }}</p>
      <p><b>Doğum tarihi:</b> {{ hasta.dogum_tarihi }}</p>
      <p><b>Yaş:</b> {{ hasta.age }} </p>
      <p><b>Tc Kimlik No:</b> {{ hasta.tc_kimlik_no }}</p>
      <p><b>Cinsiyet:</b> {{ hasta.get_cinsiyet_display }}</p>
      <p><b>Meslek:</b> {{ hasta.meslek }}</p>
      <p><b>Sigorta:</b> {{ hasta.sigorta }}</p>
    </div>

    <div class="col-md-2">
      <h4> Aile Bilgileri </h4>
      <hr>
      <p><b>Eş Ad:</b> {{ hasta.es_ad }}</p>
      <p><b>Eş Meslek:</b> {{ hasta.es_meslek }}</p>
      <p><b>Çocuklar:</b> {{hasta.get_cocuklar}}</p>
    </div>

    <div class="col-md-4">
      <h4> İletişim Bilgileri </h4>
      <hr>
      <p><b>Cep Telefon:</b> {{ hasta.cep_telefon }}</p>
      <p><b>Ev Telefon:</b> {{ hasta.ev_telefon }}</p>
      <p><b>İş Telefon:</b> {{ hasta.is_telefon }}</p>
      <p><b>Adres:</b> {{ hasta.adres }}</p>
      <p><b>Semt:</b> {{ hasta.semt }}</p>
      <p><b>Eposta:</b> {{ hasta.eposta }}</p>
    </div>

    <div class="col-md-4">
      <h4> Sağlık Bilgileri </h4>
      <hr>
      <p><b>AH Sevk: </b> {% if hasta.ahsevk_done is True %} Yapıldı ({{hasta.ahsevk_done_tarih}}) {% else %} Yapılmadı {% endif %} </p>
      <p><b>Soygecmiş:</b> {{ hasta.soygecmis }}</p>
      <p><b>Özgeçmiş:</b> {{ hasta.ozgecmis }}</p>
      <p><b>Sigara:</b> {{ hasta.sigara }}</p>
      <p><b>Alkol:</b> {{ hasta.alkol }}</p>
      <p><b>Kilo:</b> {{ hasta.kilo }}</p>
      <p><b>Boy:</b> {{ hasta.boy }}</p>
      <p><b>VKI:</b> {{ hasta.vki }}</p>
    </div>

  </div>

  <div class="row" style="padding:20px">

    <div class="col-md-2">
      <h4>Geçmiş muayeneler</h4>
      <hr>
      {% if muayene_list %}
      <ol>
        {% for muayene in muayene_list %}
        <li>
          <a href="{% url 'muayene:detail' muayene.id %}"> {{ muayene.tarih }} - {{ muayene.yakinma }}</a>
        </li>
        {% endfor %}
      </ol>
      {% else %}
      <p> {{ hasta }} için muayene kaydı yok. </p>
      {% endif %}
    </div>

    <div class="col-md-2">
      <h4>Yazılmış reçeteler</h4>
      <hr>
      <ol>
        {% for recete in recete_list %}
        <li> <a href="#" data-toggle="modal" data-target="#receteDetail{{recete.id}}">Reçete {{recete.id}} - {{ recete.tarih }}</a></li>
        <div class="modal fade" id="receteDetail{{recete.id}}" tabindex="-1" role="dialog" arialabelledby="receteDetailLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="receteDetailLabel"> Reçete {{ recete.id }} <small>{{recete.tarih}}</small> </h4>
              </div>
              <div class="modal-body">
                <h5> İlaçlar </h5>
                <ol>
                {% for ilac in recete.ilaclar.all %}
                <li>{{ ilac.ilac }}
                  <ul>
                    <li>{{ ilac.kullanim }}</li>
                    <li>{{ ilac.kutu }} kutu</li>
                  </ul>
                </li>
                {% endfor %}
                </ol>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <a class="btn btn-primary" href="{% url 'muayene:recete-print' recete.id %}" target="_blank">YAZDIR</a>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p> {{hasta}} için reçete kaydı yok. </p>
        {% endfor %}
      </ol>

    </div>

    <div class="col-md-2">
      <h4>Yazılmış raporlar</h4>
      <hr>
      <ol>
        {% for rapor in rapor_list %}
        <li> <a href="#" data-toggle="modal" data-target="#raporDetail{{rapor.id}}">Rapor {{rapor.id}} - {{ rapor.tarih }}</a></li>
        <div class="modal fade" id="raporDetail{{rapor.id}}" tabindex="-1" role="dialog" arialabelledby="raporDetailLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="raporDetailLabel"> Rapor {{ rapor.id }} <small>{{rapor.tarih}}</small> </h4>
              </div>
              <div class="modal-body">
                <h4>Tanı: {{rapor.tani}}</h4>
                <h4>Gün: {{rapor.gun}}</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <a class="btn btn-primary" href="{% url 'muayene:rapor-print' rapor.id %}" target="_blank">YAZDIR</a>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p> {{ hasta }} için rapor kaydı yok. </p>
        {% endfor %}
      </ol>
    </div>

    <div class="col-md-2">
      <h4>İstenmiş tetkikler</h4>
      <hr>
      <ol>
        {% for istek in lab_list %}
        <li> <a href="#" data-toggle="modal" data-target="#istekDetail{{istek.id}}">İstek {{istek.id}} - {{ istek.tarih }}</a></li>
        <div class="modal fade" id="istekDetail{{istek.id}}" tabindex="-1" role="dialog" arialabelledby="istekDetailLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="istekDetailLabel"> İstek {{ istek.id }} <small>{{istek.tarih}}</small> </h4>
              </div>
              <div class="modal-body">
                <h5> Tetkikler </h5>
                <table class="table table-hover table-codensed">
                  <thead>
                    <tr>
                      <th>İSTEK</th>
                      <th>SONUÇ</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <a class="btn btn-success" href="{% url 'muayene:lab-sonuc' istek.id %}">SONUÇ GİR</a>
                <a class="btn btn-primary" href="{% url 'muayene:lab-print' istek.id %}" target="_blank">YAZDIR</a>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p> {{hasta}} için tetkik kaydı yok. </p>
        {% endfor %}
      </ol>
    </div>

    <div class="col-md-2">
      <h4>Eklenmiş dosyalar</h4>
      <hr>
      {% if file_list %}
      <ol>
        {% for file in file_list %}
        <li> <a href="#" data-toggle="modal" data-target="#fileDetail{{file.id}}">Dosya {{ file.id }} - {{file.yaratim_tarihi}}</a></li>
        <div class="modal fade" id="fileDetail{{file.id}}" tabindex="-1" role="dialog" arialabelledby="fileDetailLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="fileDetailLabel"> Dosya {{ file.id }} <small>Yaratım tarihi: {{ file.yaratim_tarihi }}</small></h4>
              </div>
              <div class="modal-body">
                <iframe src="{{file.dosya.url}}" frameborder="0" width="800" height="600"></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </ol>
      {% else %}
      <p> {{ hasta }} için dosya kaydı yok. </p>
      {% endif %}

    </div>

    <div class="col-md-2">

      <div class="modal fade" id="sozlesmeDialog" tabindex="-1" role="dialog" arialabelledby="sozlesmeDialogLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="sozlesmeDialogLabel"> Sözleşme oluştur </h4>
              <h3> Hasta: {{ hasta }} </h3>
            </div>
            <div class="modal-body">
              <p>Sözleşme süresi: 1 yıl</p>
              <p>Sözleşme başlangıç tarihi: {% now "j F Y l" %}</p>
            </div>
            <div class="modal-footer">
              <form method="POST">
                {% csrf_token %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <input type="submit" name="sozlesme" value="Onayla" class="btn btn-success">
              </form>
            </div>
          </div>
        </div>
      </div>

      <h4> Sözleşme </h4>
      <hr>
      {% if hasta.sozlesme_set.latest.is_active %}
      <h5>Güncel sözleşme</h5>
      <p><b>Başlangıç:</b> {{ hasta.sozlesme_set.latest.baslangic_tarihi }}</p>
      <p><b>Bitiş:</b> {{ hasta.sozlesme_set.latest.bitis_tarihi }}</p>
      <p><b>Kalan:</b> {{ hasta.sozlesme_set.latest.days_left }} gün</p>
      {% else %}
      {% if hasta.sozlesme_set.exists %}
      <h5> Geçmiş sözleşmeler </h5>
      <ol>
        {% for sozlesme in hasta.sozlesme_set.all %}
        <li> {{ sozlesme.baslangic_tarihi }} - {{ sozlesme.bitis_tarihi }} </li>
        {% endfor %}
      </ol>
      {% endif %}
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#sozlesmeDialog">Sözleşme Oluştur</button>
      {% endif %}

    </div>

  </div>
  <!-- End of Row 2 -->
</div>

{% endblock %}
