{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-4">
  <h1> Aktif Sözleşmeli Hastalar <small> Toplam: {{ hasta_count }} </small> </h1>

  <div class="row" style="padding:20px">
    <table class="table table-hover table-striped table-sm table-responsive">
      {% if sozlesme_list %}
      <thead>
        <th> ID </th>
        <th> HASTA </th>
        <th> SIGORTA </th>
        <th> SÖZLEŞME BAŞLANGIÇ </th>
        <th> SÖZLEŞME BİTİŞ </th>
        <th></th>
      </thead>
      <tbody>
        {% for sozlesme in sozlesme_list %}
        {% if sozlesme.is_active is True %}
        <tr>
          <td> {{ sozlesme.hasta.id }} </td>
          <td><a href="{% url 'hasta:detail' sozlesme.hasta.slug %}">{{ sozlesme.hasta }}</a></td>
          <td> {{ sozlesme.hasta.sigorta }} </td>
          <td> {{ sozlesme.baslangic_tarihi }} </td>
          <td> {{ sozlesme.bitis_tarihi }} </td>
          <td><a href="{% url 'hasta:detail' sozlesme.hasta.slug %}">Detay</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
      {% else %}
      <tr> Sözleşmeli hasta bulunamadı. </tr>
      {% endif %}
    </table>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        <li class="active">
          <a href="#">{{ page_obj.number }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

  </div>
</div>

{% endblock %}
